<!DOCTYPE html>
<html>
  <head>
    <title>Clinic</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <%= render "shared/header" %>
    <div class="container">
      <div class="row">
        <% if flash[:notice] %>
          <div class="alert alert-info mt-2"><%= notice %></div>
        <% end %>
        <% if flash[:alert] %>
          <div class="alert alert-warning mt-2"><%= alert %></div>
        <% end %>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
